@import url(./reset.css);
@import url(./fonts.css);

@import url(./nav.css);

body {
    background-color: #000000;

    --accent: #1c86dd;
}
html {
    font-size: 10px;
}

.container {
    width: min(1280px, calc(100vw - 40px));
    margin: 0 auto;
}